<p id="notice"><%= notice %></p>

<p>
  <strong>House hunter:</strong>
  <%= @interest_list.house_hunter.user.name %>
  <% @interest_list.houses.each do |house| %>
  <p><%= house.location %></p>
<% end %>
</p>

<%= link_to 'Back', :back %> |
<%= link_to 'Home', root_path %>
