<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>CreatedAt</th>
      <th>Phone</th>
      <th>IsAdmin </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.created_at.strftime(('%v')) %></td>
        <td><%= user.phone %></td>
        <td><%= @SuperUsers.key?(user.email) %></td>

        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>


          <% if user.house_hunter == nil %>
            <td><div><%= link_to "Make a HouseHunter Account", new_house_hunter_path(create_for_user: user)%></div></td>
          <% end %>

          <% if user.house_hunter != nil %>
            <td><div><%= link_to "Go to the HouseHunter Profile",  house_hunter_path(user.house_hunter.id) %></div></td>
          <% end %>

          <% if user.realtor == nil %>
            <td><div><%= link_to "Make a Realtor Account", new_realtor_path(create_for_user: user)%></div></td>
          <% end %>

          <% if user.realtor != nil %>
            <td><div><%= link_to "Go to Your Realtor Profile",  realtor_path(user.realtor.id) %></div></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_admin_path %>
<%= link_to 'Back', :back %>

