<p id="notice"><%= notice %></p>
<h4>House Hunter Profile</h4>

<p>
  <strong>Name:</strong>
  <%= @house_hunter.user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @house_hunter.user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @house_hunter.user.phone %>
</p>

<p>
  <strong>Preferred contact:</strong>
  <%= @house_hunter.preferred_contact %>
</p>

<br>
<%= link_to 'Edit', edit_house_hunter_path(@house_hunter) %> |
<%= link_to 'Back', :back %> |
<%= link_to 'Home', root_path %> |
