<%= form_tag({controller: "houses", action: "index"}, method: "get") do %>

  <div class="field">
    <%= label_tag(:q, "Reply") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Submit") %>
  </div>
<% end %>

<%= link_to 'Back', :back %> |
<%= link_to 'Home', root_path %>